@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

* {
  margin:0;
  padding:0;
}
html, body{
  height: 100%;
}

body{
  font-family: 'Ubuntu', sans-serif;
  background-image: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%);
  background-repeat: no-repeat;
  background-size: cover;

}

.sky{
  background: none;
  height: 40%;
}

.fog-top{
  height: 20%;
  opacity: .8;
}

.site-footer {
  height: 80px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #f0f0f0;
  a{
    text-decoration: none;
    color: #f0f0f0;
  }

}

body.fog{
  background: #F0F0F0;
  .sky{
    background: #57c1eb;
    background: -moz-linear-gradient(top,  #57c1eb 0%, #246fa8 75%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#57c1eb), color-stop(60%,#246fa8), color-stop(80%,#246fa8), color-stop(100%,#f0f0f0));
    background: -webkit-linear-gradient(top,  #57c1eb 0%,#246fa8 75%,#f0f0f0 100%);
    background: -o-linear-gradient(top,  #57c1eb 0%,#246fa8 75%,#f0f0f0 100%);
    background: -ms-linear-gradient(top,  #57c1eb 0%,#246fa8 75%,#f0f0f0 100%);
    background: linear-gradient(to bottom,  #57c1eb 0%,#246fa8 60%, #246fa8 80%,#f0f0f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c1eb', endColorstr='#f0f0f0',GradientType=0 );

    background-repeat: no-repeat;
    background-size: cover;
  }

  .site-footer{
    color: #246fa8;
    a{
      color: #57c1eb;
    }
  }

}


H1{
  color: #FFF;
  text-shadow: 0 1px 2px #1D5987;
  font-weight: 300;
  font-size: 12em;
  text-align: center;

}

