<!DOCTYPE html>
<html>
<head>
  <title>Is it foggy in San Francisco?</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

      <%= yield %>
    <footer class="site-footer">
      &copy; 2014 <a href="http://sean.neden.name">Sean Neden</a>
    </footer>
</body>
</html>
